
{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>localizacion de autos</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
 
     <style>
      body {
          padding: 0;
          margin: 0;
      }

      html, body, #map {
          height: 100%;
          width: 100vw;
      }


      #btnUbicacion {
        position: absolute;
        top: 220px;
        left: 15px;
        z-index: 1000;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      }

      #btnUbicacion:hover {
        background-color: #0056b3;
      }

      .leaflet-top.leaflet-left {
        top: 100px;
      }

     </style>
 
  </head>
  <body>
        
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/perfilusuario/">Perfil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vehículo
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/nuevovehiculo/">Agregar Vehículo</a></li>
                <li><a class="dropdown-item" href="/listadovehiculo/">Ver Vehículo</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/historial/">Historial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/buscarlugares/">Buscar Navegación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Cerrar Sesión</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>



  <button id="btnUbicacion">Activar ubicación</button>
    <div id="map"></div> 

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <script>
           //Cargas el CSS de Leaflet, que es la librería JavaScript que se para mostrar mapas usando OpenStreetMap. link rel="stylesheet"
          //Carga de Leaflet JS con <script src="https://unpkg.com/leaflet@1.9.4

      
      const map = L.map('map').setView([-0.9333, -78.6167], 15); // crear el mapa  dentro de  <div id="map">,    .setView([lat, lon], zoom): centra el mapa (Latacunga aprox) y nivel de zoom 15
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
      }).addTo(map);// agrega capas

      // Ícono personalizado
      const phoneIcon = L.icon({
        iconUrl: '{% static "img/punto.png" %}',
        iconSize: [35, 35],// tamaño de la imagen
        iconAnchor: [17, 17] // el ancho
      });

      let phoneMarker = null; //Variable donde guarda el marcador que representa la ubicación actual del teléfono.

      // WebSocket canal de comunicación en tiempo real entre el navegador y el servidor.  /ws/ubicacion/: ruta del WebSocket, debe coincidir con routing.py
      const socket = new WebSocket((window.location.protocol === 'https:' ? 'wss://' : 'ws://') + window.location.host + '/ws/ubicacion/');


      // Restablecer estado si estaba activada antes
      document.addEventListener("DOMContentLoaded", function () {
        const boton = document.getElementById("btnUbicacion");
        const estado = localStorage.getItem("ubicacion_activa");

        if (estado === "1") {
            boton.disabled = true;
            boton.textContent = "Ubicación activada";
            boton.style.backgroundColor = "#28a745";

            // Reactivar el seguimiento automáticamente
            mostrarUbicacionTiempoReal();
        }
      });



      // Recibir coordenadas desde el servidor
      socket.onmessage = function(e) {
        const data = JSON.parse(e.data); //JSON.parse(e.data): conviertes el texto recibido en objeto JS.
        const coords = [data.latitud, data.longitud];

        if (!phoneMarker) {//Si no existe phoneMarker, lo crea
          phoneMarker = L.marker(coords, { icon: phoneIcon }).addTo(map);// permite en crear marcadores
        } else {
          phoneMarker.setLatLng(coords);//Si ya existe, solo actualizas su posición con
        }
        map.panTo(coords);//map.panTo(coords): mueve el mapa para centrarlo en la nueva ubicación
      };



      socket.onclose = function(e) {
        console.error('Conexión WebSocket cerrada inesperadamente');
      };//Solo loguea si la conexión se cierra de forma inesperada



      
      // Enviar coordenadas al servidor (desde el teléfono)     API de Geolocalización
      //activa el gps del telefeno
      //el navegador soporta gps, si lo sosporta ejecuta el codigo y si no muestra un mensaje de error
      function mostrarUbicacionTiempoReal() {
        if ("geolocation" in navigator) {
          navigator.geolocation.watchPosition((pos) => {      //Obtiene la ubicación en tiempo real y activa el gps
            const lat = pos.coords.latitude;
            const lon = pos.coords.longitude; //se obtiene la latitud y longitud
            console.log(" Coordenadas enviadas:", lat, lon);
            
            if (!window.ubicacionGuardada) { // la primera ves que se aplaste el boton se guarda en la base de datos
                socket.send(JSON.stringify({// se envia al WebSocket con latitud, longitud el id del vehiculo y el boton de guardar
                    latitud: lat,
                    longitud: lon,
                    vehiculo_id: {{ vehiculo.id_vehiculo|default:0 }},
                    guardar: true
                }));
                window.ubicacionGuardada = true; // esto sirve para que ya no se vuelva a guardar 
            } else {
                socket.send(JSON.stringify({ // envia la ubicaicon para moverlo en el tiempo real y seguir mostrnado su ruta
                    latitud: lat,
                    longitud: lon,
                    guardar: false
                }));
            }//Envía al servidor

          }, (error) => {
            alert("Error al obtener ubicación: " + error.message);
          }, { enableHighAccuracy: true, maximumAge: 0, timeout: 10000 }); //usa GPS si está disponible. se demora 10 segundos para obtener la posición

          const boton = document.getElementById("btnUbicacion");
          boton.disabled = true;
          boton.textContent = "Ubicación activada";
          boton.style.backgroundColor = "#28a745";
          localStorage.setItem("ubicacion_activa", "1");
          
        } else {
          alert("Tu navegador no soporta geolocalización.");
        }
      }


      document.getElementById("btnUbicacion")
              .addEventListener("click", mostrarUbicacionTiempoReal);//Al hacer clic, llamas a la función que comienza el watchPosition y el envío por WebSocket.
    </script>
  </body>

</html>

{% endblock %} 
